* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header .navbar-brand img {
  width: 300px;
}

.header {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
}

.main {
  padding-top: 5%;
}

input[type='email']::placeholder {
  padding: 3px 5px;
  width: 100%
}

.card-container .mini-card {
  margin: 0 auto;
}

.card-container .col-md-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .fa-solid {
  color: orange;
  font-size: 48px;
}

.footer-07 .row {
  background: rgb(193, 193, 193);
}


@media screen and (max-width:780px) {
  .embed-responsive{
    width: 90vw;
    }
    
    .embed-responsive-item{
      width: 100%;
      }
}