* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header .navbar-brand img {
  width: 300px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.main {
  margin-top: 7%;
}

input[type='email'] {
  padding: 3px 5px;
  width: 40%;
}

input[type='email']::placeholder {
  padding: 2px 0 2px 2px;
}

.card-container .mini-card {
  margin: 0 auto;
}

.card-container .col-md-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container .fa-solid {
  color: orange;
  font-size: 48px;
}

.embed-responsive {
  width: 75vw;
}

.footer-07 .row {
  background: rgb(193, 193, 193);
}


@media screen and (max-width:780px) {
  .header {
    position: relative;
  }

  .header ul {
    display: grid;
    grid-template-columns: 35% 1fr 20%;
  }

  .main input {
    width: 85vw;
  }

  .embed-responsive {
    width: 90vw;
  }
}